@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #eeeaf6;
  color: #000;
  padding: 40px;
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
}


a {
  text-decoration: none;
  color:#000;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 20px;
  line-height: 2.8;
}


.menu {
  margin-top: 30px;
  margin-left: 30px
}

.menu p {
  margin-bottom: 8px;
}

.writing {
  margin-top: 20px;
}


.writing-label {
  margin-top: 20px;
  display: inline-block;
  margin-left: 30px;
}

p {
  margin-bottom: 1em;
}

.double-space {
  margin-bottom: 3em;
}

ul {
  list-style-type: disc;
  padding-left: 65px;
  line-height: 1.8;
}

ul li {
  margin-bottom: 5px;
}

.back-button {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 50px;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
  line-height: 1;
}

.back-button:hover {
  color: #555;
  cursor: pointer;
}

.inspired-by {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 10px;
  color: #555;
  font-family: 'Libre Baskerville', serif;
  background-color: #eeeaf6;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

.inspired-by:hover {
  color: #333;
  background-color: #eeeaf6;
}


.post-date {
  position: absolute;
  top: 45px;
  right: 65px;
  font-size: 15px;
  color: #888;
  font-family: 'Libre Baskerville', serif;
  opacity: 0.8;
}

figure {
  text-align: center;
  margin-top: 30px;
}

figure img {
  width: 100%;
  max-width: 600px;
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

figure figcaption {
  font-size: 12px;
  color: #555;
  margin-top: 8px;
  font-style: italic;
}

.cite-rule {
  margin-top: 60px;
  margin-bottom: 18px;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.12);
}

.citation {
  font-size: 12px;
  color: #555;
  line-height: 1.6;
  padding-bottom: 30px;
}

.citation-label {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 11px;
  color: #777;
  margin-bottom: 6px;
}

.citation-entry i {
  font-style: italic;
}

.cite {
  text-decoration: none;
  color: inherit;
  font-size: 0.95em;
  margin-left: 0.1em;
}

.cite:hover {
  text-decoration: underline;
}
